  
appdirs
certifi
click
distlib
Flask==1.1.2
Flask-Cors==3.0.8
gunicorn
itsdangerous
Jinja2
joblib
MarkupSafe
numpy
pandas
python-dateutil
pytz
scikit-learn
scipy
six
virtualenv
Werkzeug
wincertstore
catboost>=0.2